<section class="aside-section">
  <div class="aside">
    <a [routerLink]="['/']" class="site-logo">
      <img src="/assets/images/logo.png" alt="Sayt logotipi bor" />
    </a>

    <ng-container *ngIf="role === 'Admin'; else userMenu">
      <app-admin-aside></app-admin-aside>
    </ng-container>
    <ng-template #userMenu>
      <ul class="aside-list">
        <li class="aside-item">
          <a routerLinkActive="active" [routerLink]="['/overview']">
            <i class="fa-brands fa-stack-overflow"></i>
            <p class="p-fixed">Overview</p>
          </a>
        </li>
        <li class="aside-item">
          <a routerLinkActive="active" [routerLink]="['/courses/progress']">
            <i class="fa-solid fa-book-bookmark"></i>
            <p class="p-fixed">Courses</p>
          </a>
        </li>
        <li class="aside-item">
          <a routerLinkActive="active" [routerLink]="['/quiz']">
            <i class="fa-solid fa-clipboard-question"></i>
            <p class="p-fixed">Quiz</p>
          </a>
        </li>
        <li class="aside-item">
          <a routerLinkActive="active" [routerLink]="['/messaging']">
            <i class="fa-regular fa-message"></i>
            <p class="p-fixed">Messaging</p>
          </a>
        </li>
        <li class="aside-item">
          <a routerLinkActive="active" [routerLink]="['/leaderboard']">
            <i class="fa-solid fa-ranking-star"></i>
            <p class="p-fixed">Leaderboard</p>
          </a>
        </li>
        <li class="aside-item">
          <a routerLinkActive="active" [routerLink]="['/login']">
            <img width="30" src="/assets/images/logout.svg" alt="">
            <p class="p-fixed">Logout</p>
          </a>
        </li>
      </ul>
    </ng-template>

    <!-- <div class="aside-pro__version">

    </div> -->
  </div>
</section>
