<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="social-section">
  <div class={{containerClass}} id="container">
	<div class="form-container sign-up-container">
		<div class="form">
			<h1>Create Account</h1>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
			<span style="margin-bottom: 40px;">or use your email for registration</span>
			<input type="text" placeholder="Full Name" [(ngModel)] = "fullname" />
			<input type="text" placeholder="Username" [(ngModel)] = "username" />
			<input type="text" placeholder="Country" [(ngModel)] = "country" />
			<input type="email" placeholder="Email" [(ngModel)]="email" />
			<input type="password" placeholder="Password" [(ngModel)] = "password" />
			<button style="margin-top: 20px;" (click)="register()">Sign Up</button>
		</div>
	</div>
	<div class="form-container sign-in-container">
		<div class="form">
			<h1>Sign in</h1>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
			<span style="margin-bottom: 40px;">or use your account</span>
			<input type="email" placeholder="Email" [(ngModel)]="email" />
			<input type="password" placeholder="Password" [(ngModel)]="password" />
			<a [routerLink]="['/forgot-password']">Forgot your password?</a>
			<button (click)="login()">Sign In</button>
		</div>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p class="">To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn" (click)="removeClass()">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p class="">Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp" (click)="addClass()">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p class="p-fixed">
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://auth.tohirjon.uz/swagger/index.html">Tohirjon</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://auth.tohirjon.uz/swagger/index.html">here</a>.
	</p>
</footer> 
</div>