<div class="container">
    <div class="field">
      <input type="text" name="fullname" id="fullname" [(ngModel)] ="couponCode" placeholder="Full Name" autofill="autofill">
      <label for="fullname">Coupon code</label>
    </div>
    <div class="field">
      <input type="number" name="fullname" id="fullname" [(ngModel)] ="discount" placeholder="Full Name" autofill="autofill">
      <label for="fullname">Discount</label>
    </div>
    <button class="submit-button" (click)="submit()">Submit</button>

  </div>