<main class="site-main">
  <div class="main-wrapper">
    <app-aside></app-aside>
  </div>
  <app-navbar></app-navbar>

  <section class="course__detail-section padding flex">
    <!-- LEFT -->

    <div class="course__detail-left">
      <div class="course__detail-courses inner-padding">
        <a title="Return to courses" [routerLink]="['/courses']">
          <i class="fa-solid fa-arrow-left"></i>
          Courses
        </a>
        <h2 class="p-fixed">Gaminification: {{ course.courseName }}</h2>
        <p class="p-fixed">
          {{ course.description }}
        </p>
        <div class="course__detail-video--info">
          <img width="40" src="assets/images/kattamen.png" alt="" />
          <strong>{{ course.teacherName }}</strong>
          <span
            ><i class="fa-regular fa-paste"></i
            >{{ course.lessons.length }} Lecture</span
          >
          <span
            ><i class="fa-regular fa-clock"></i
            >{{ formatTotalTime(course.totalTime) }} total length</span
          >
        </div>
        <div class="course__detail-learn">
          <h3 class="p-fixed">What you'll learn</h3>
          <ul>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
        </div>

        <div class="course__detail-requirment">
          <h3 class="p-fixed">Requirments</h3>
          <ul>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
        </div>
        <div class="course__detail-descriptions">
          <h3 class="p-fixed">Descriptions</h3>
          <p class="p-fixed">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. In at modi
            dolores laborum tenetur magni iure deserunt dolorum consequuntur
            optio architecto earum, vero nam, dolore, neque nemo esse eos
            impedit. Consequatur repudiandae quasi maxime odio? Tenetur amet
            cumque deleniti eveniet sequi praesentium, iure corrupti neque qui
            veritatis porro, debitis omnis!
          </p>
        </div>
      </div>

      <div class="course__detail-course__content inner-padding">
        <h2 class="p-fixed">Course Content</h2>
        <div class="course__detail-time flex cursor" (click)="toggle()">
          <div class="flex text">
            6 sections ● {{ course.lessons.length }} lectures ●
            {{ formatTotalTime(course.totalTime) }} total length
          </div>
          <button class="cursor">
            Expand All <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
        <!-- Video info -->
        <ul class="{{ toggleCourseContent }}">
          @for (lesson of course.lessons; track lesson) {
          <li class="flex" style="margin-bottom: 10px">
            <div class="flex">
              <i class="fa-solid fa-play"></i>
              <h4>{{ lesson.title }}</h4>
            </div>
            <div class="flex">
              <p class="p-fixed">
                <i class="fa-regular fa-paste"></i
                >{{ course.lessons.length }} Lecture
              </p>
              <p class="p-fixed">
                <i class="fa-regular fa-clock"></i
                >{{ formatTotalTime(course.totalTime) }} length
              </p>
            </div>
          </li>
          }
        </ul>
      </div>

      <div class="course__detail-instuctor inner-padding">
        <h3 class="p-fixed">Instructor</h3>
        <div class="course__detail-instructor__img flex">
          <img width="40" src="assets/images/kattamen.png" alt="" />
          <div>
            <h4 class="p-fixed">{{ course.teacherName }}</h4>
            <p class="p-fixed">Ux Designer</p>
          </div>
        </div>
        <div class="course__detail-instructor__rate flex">
          <span>
            <i class="fa-solid fa-star"></i>4.7<span class="dot">●</span>
          </span>
          <span>
            <i class="fa-solid fa-user-check"></i>500 students enrolled
            <span class="dot">●</span>
          </span>
          <span>
            <i class="fa-solid fa-star-half-stroke"></i>Review
            <span class="dot">●</span>
          </span>
          <span> <i class="fa-solid fa-book-open"></i>Course</span>
        </div>
        <div class="course__detail-instructor__description">
          <p class="p-fixed">
            {{ course.description }}
          </p>
        </div>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="course__detail-right inner-padding">
      <div class="course__detail-card">
        <div class="course__detail-card__img">
          <img width="100%" src="assets/images/course-detail-card.png" alt="" />
          <span class="course__detail-card__play"></span>
        </div>
        <div class="course__detail-card__price">
          <p class="p-fixed">${{ course.price }}</p>
        </div>
        <div class="course__detail-card__action">
          <button>Add to Cart</button>
          <button>Buy Now</button>
        </div>
        <div class="course__detail-card__includes">
          <h3 class="p-fixed">This course Includes:</h3>
          <ul>
            <li>
              <i class="fa-solid fa-play"></i>
              {{ formatTotalTime(course.totalTime) }} hours on - demend video
            </li>
            <li><i class="fa-solid fa-clock"></i> full Lifetime access</li>
            <li>
              <i class="fa-solid fa-lock-open"></i>Access on mobile and TV
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
