.site-navbar {
  z-index: 100;
  background-color: #eceff3;

  position: fixed;
  padding-top: 20px;
  top: 0;
  width: 1200px;
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search__wrapper {
    input {
      padding: 10px;
      border: none;
      background-color: transparent;
    }
  }

  .navbar__wrapper {
    & > i {
      margin-right: 20px;
      font-size: 20px;
    }

    .flex {
      background-color: white;
      padding: 10px 20px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      gap: 10px;

      span:nth-child(3) {
        height: 1.5px;
        width: 25px;
        background-color: #eee;
        transform: rotate(90deg);
        -webkit-transform: rotate();
        -moz-transform: rotate();
        -ms-transform: rotate();
        -o-transform: rotate();
      }
      img {
        width: 40px;
      }
    }
  }
}
