* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
 	font-family: sans-serif;
}

.container {
	position: absolute;
	top: 40%;
	left: 40%;
	width: 40%;
	transform: translate(-50%, -50%);
    align-items: center;
    justify-content: sppace-between;
}

.field {
	display: flex;
	flex-flow: column-reverse;
}

label,
input {
	transition: all 200ms ease;
}

input {
	font-size: 24px;
	border: 0;
	border-bottom: 1px solid #ccc;
	// -webkit-appearance: none;
	border-radius: 0;
	padding: 5px 0;
	&:focus {
		outline: 0;
		border-color: coral;
	}
	&:placeholder-shown + label {
		cursor: text;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transform-origin: left bottom;
		transform: translate(0, 2.125em) scale(1.5);
	}
	&:not(:placeholder-shown) + label,
	&:focus + label {
		transform: translate(0, 0) scale(1);
		cursor: default;
		color: coral;
	}
}

label {
	max-width: 66.666%;
	color: #ccc;
}

::-webkit-input-placeholder {
	opacity: 0;
	transition: inherit;
}


.submit-button {
    border: 2px solid rgba(164, 16, 164, 0.734); /* Default border color */
    margin-top: 10px;
    margin-left: 400px;
    align-items: center;
    background-color: transparent; /* Transparent background */
    color: #333; /* Default text color */
    padding: 10px 50px; /* Adjust padding as needed */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition effect */
    border-radius: 50px;
    /* Add additional styles for button appearance (e.g., font-size, border-radius) */
  }
  
  .submit-button:hover {
    background-color: rgba(164, 16, 164, 0.762); /* Change background color on hover */
    color: #ccc;
  }
  
