.overview-section {
  * {
    color: black;
  }

  .stats {
    gap: 30px;
    .rating__wrapper {
      flex-direction: column;
      p {
        color: #6d6d6d;
        margin: 0 !important;
      }
    }

    .rating {
      width: 700px;
      padding: 30px;
      margin-top: 20px;
      flex-wrap: wrap;
      gap: 50px;
      background-color: white;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      .rating-item {
        margin-right: 150px;
        &:nth-child(2) {
          .navbar-star {
            background-color: crimson;
            &:after {
              background-color: rgba(220, 20, 60, 0.227);
            }
          }
        }
        &:nth-child(3) {
          margin-right: 130px;

          .navbar-star {
            background-color: royalblue;
            &:after {
              background-color: rgba(0, 0, 255, 0.2);
            }
          }
        }
        &:nth-child(4) {
          margin-right: 0px;
          .navbar-star {
            background-color: rgb(28, 147, 28);
            &:after {
              background-color: rgba(28, 147, 28, 0.296);
            }
          }
        }
      }
    }

    .navbar-star {
      position: relative;
      width: 27px;
      height: 30px;
      top: 8px;
      margin-right: 25px;

      i {
        font-size: 12px;
        color: white !important;
      }

      &:after {
        content: "";
        width: 160%;
        height: 140%;
        // z-index: -1;
        position: absolute;
        top: -6px;
        left: -8px;
        border-radius: 10px;
        background-color: rgba(0, 0, 255, 0.197);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
  }

  // ================== activity ======================
  .activity {
    max-width: 470px;
    // width: 100%;
    position: relative;

    h2 {
      position: absolute;
      top: 15px;
    }

    .activity__item {
      position: relative;

      .time {
        display: none;
      }

      .bar {
        position: absolute;
        bottom: -95px;
        left: -20px;
        width: 70px;
        height: 15px;
        border-radius: 10px;
        display: inline-block;
        transform: rotate(90deg);
        border: 1px solid royalblue;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      .weekdays {
        position: absolute;
        bottom: -150px;
        color: #6d6d6d;
      }
      position: absolute;

      &:nth-child(2) {
        left: 90px;
        .bar {
          left: -10px;
          bottom: -110px;
          width: 40px;
        }
      }

      &:nth-child(3) {
        left: 150px;
        .bar {
          left: -15px;
          bottom: -100px;
          width: 60px;
        }
      }

      &:nth-child(4) {
        left: 210px;
        .bar {
          left: -25px;
          bottom: -90px;
          width: 80px;
        }
      }

      &:nth-child(5) {
        left: 270px;
        .bar {
          left: -10px;
          bottom: -110px;
          width: 40px;
        }
      }

      &:nth-child(6) {
        left: 330px;

        .time {
          display: block;
          position: absolute;
          background-color: rgba(65, 105, 225, 0.392);
          top: -20px;
          left: -45px;
          width: 120px;
          padding: 5px 0 5px 10px;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          p:first-child {
            font-weight: 600;
          }
        }
      }

      &:nth-child(7) {
        left: 390px;
      }
    }

    .select-item {
      .bar {
        background-color: royalblue !important;
      }
    }
  }

  .upcoming-course__wrapper {
    .title-wrapper {
      align-items: center;
      justify-content: space-between;

      a {
        color: #7662ea;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;

        &:hover {
          background-color: #7662ea;
          color: white;

          i {
            color: white;
          }
        }

        * {
          margin-left: 15px;
          color: #7662ea;
        }
      }
    }

    // .upcoming {
    //   .upcoming__item {
    //     padding: 10px;
    //     margin-top: 30px;
    //     align-items: center;

    //     &:hover{
    //       border-radius: 10px;
    //       background-color: #6d6d6d34;
    //     }
    //   }

    //   img{
    //     border-radius: 10px;
    //   }

    //   .upcoming__wrapper {
    //     margin-left: 20px;

    //     p,
    //     h3 {
    //       margin-bottom: 5px;
    //       overflow: hidden;
    //       white-space: nowrap;
    //       text-overflow: ellipsis;
    //       max-width: 500px; /* istalgan o'  lchamdagi miqdorni o'zgartiring */
    //     }

    //     .flex {
    //       gap: 15px;
    //     }

    //     strong {
    //       display: flex;
    //       gap: 10px;
    //       align-items: center;
    //       font-weight: 400;

    //       &:first-child{
    //         font-weight: 500;
    //       }
    //     }

    //     .time{
    //       margin-top: 10px;
    //       padding: 10px;
    //       border-radius: 10px;
    //       background-color: rgba(0, 128, 0, 0.184);
    //       color: green;
    //       width: 180px;
    //     }
    //   }
    // }

    .top-students {
      max-width: 470px;
      widows: 100%;

      .top-students__list a {
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        gap: 20px;
        padding: 10px;
        border-radius: 10px;

        &:hover {
          background-color: #6d6d6d39;
        }

        img {
          border-radius: 50%;
        }

        .flex {
          align-items: center;
          gap: 20px;
        }

        .student__wrapper--rating {
          gap: 5px;
          align-items: center;
          padding: 2px 8px 4px;
          span {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
          p {
            font-weight: 500;
          }
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
        }

        .title-wrapper {
          position: none;
          display: flex !important;

          flex-direction: row !important;
        }
      }

      .top-students__item:nth-child(1) {
        margin-top: 40px;

        .student__wrapper--rating {
          background-color: rgba(255, 166, 0, 0.315);
        }

        span {
          background-color: rgba(234, 188, 37, 0.853);
        }
      }
      .top-students__item:nth-child(2) {
        .student__wrapper--rating {
          background-color: #a3a5ab50;
        }

        span {
          background-color: #a3a5ab;
        }
      }
      .top-students__item:nth-child(3) {
        .student__wrapper--rating {
          background-color: #cc821354;
        }

        span {
          background-color: #cc8213;
        }
      }
    }
  }
}
