<main class="site-main">
  <div class="main-wrapper">
    <app-aside></app-aside>
  </div>
  <app-navbar></app-navbar>

  <!-- <app-navbar-title></app-navbar-title> -->

  <app-navbar></app-navbar>
  <section class="course-section">
    <div class="all-courses">
      <h1>All Courses</h1>
      <div class="collapses">
        <button
          routerLinkActive="course-active"
          [routerLink]="['/courses/progress']"
          class="cursor"
        >
          In Progress <span class="badge-span">{{allCourses && allCourses.length}}</span>
        </button>
        <!-- <button routerLinkActive="course-active" [routerLink]="['/courses/upcoming']" class="cursor">
          Upcoming <span class="badge-span">2</span>
        </button> -->
      </div>

      <div class="course-cards">
        @for (course of allCourses; track course.id) {
        <div
          (click)="setId(course.id)"
          [routerLink]="['/course-detail']"
          class="course-card cursor"
        >
          <img src="assets/images/kattamen.png" alt="" />
          <div class="course-info">
            <h2 class="p-fixed">
              {{ course.courseName }}
            </h2>
            <p class="p-fixed">
              {{ course.description }}
            </p>
            <div class="card-info">
              <div>
                <img src="assets/images/kattamen.png" alt="" />
                <p class="p-fixed">{{ course.teacherName }}</p>
              </div>
              <div>
                <i class="fa-regular fa-folder-open"></i>
                <p class="p-fixed">{{ course.lessons.length }} lectures</p>
              </div>
              <div>
                <i class="fa-regular fa-clock"></i>
                <p class="p-fixed">
                  {{ formatTotalTime(course.totalTime) }} total length
                </p>
              </div>
            </div>
            <div class="progress-amount">
              <button>In Progress</button>
              <div class="range">
                <div class="out-per">
                  <div class="in-per"></div>
                </div>
                <pre>45%</pre>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="recom-courses">
      <div class="recom-courses-navbar">
        <h2>Recommended Course</h2>
        <button class="d-none">
          Browse Course <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
      @for (course of allCourses; track course.id) {
      <div class="recom-course-info">
        <div class="recom-course-card cursor">
          <img src="assets/images/kattamen.png" alt="" />
          <div class="course-info">
            <!-- <<<<<<< HEAD
            <h2 class="p-fixed">UX & Web Design Master Course: Strategy, Design,</h2>
            <p class="p-fixed">Lorem ipsum dolor atis beatae eveniet.</p>
            <div class="card-info">
              <div>
                <i class="fa-regular fa-folder-open"></i>
                <p class="p-fixed">62 lectures</p>
              </div>
              <div>
                <i class="fa-regular fa-clock"></i>
                <p class="p-fixed">3h 4m total length</p>
======= -->
            <h2 class="p-fixed">{{ course.courseName }}</h2>
            <p class="p-fixed">{{ course.description }}</p>
            <div class="card-info">
              <div>
                <i class="fa-regular fa-folder-open"></i>
                <p class="p-fixed">{{ course.lessons.length }} lectures</p>
              </div>
              <div>
                <i class="fa-regular fa-clock"></i>
                <p class="p-fixed">
                  {{ formatTotalTime(course.totalTime) }} total length
                </p>
                <!-- >>>>>>> 55044c0ecf505ffd0be4aab16c32d40193075488 -->
              </div>
            </div>
            <div class="course-owner">
              <img src="assets/images/kattamen.png" alt="" />
              <!-- <<<<<<< HEAD
              <p class="p-fixed">Ramon Reynald</p>
======= -->
              <p class="p-fixed">{{ course.teacherName }}</p>
              <!-- >>>>>>> 55044c0ecf505ffd0be4aab16c32d40193075488 -->
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </section>
</main>
