<main class="site-main">
  <div class="main-wrapper">
    <app-aside></app-aside>
  </div>
  <app-navbar></app-navbar>

  <section class="quiz-section padding">
    <div class="wrapper">
      <div class="question">
        <h3 class="p-fixed">An importance of Having a Brand</h3>

        <div class="flex">
          <div class="question2">
            <span class="question3"></span>
          </div>
          <span>5/6</span>
        </div>

        <ol class="oll">
          @for (quiz of quizes.$values; track quiz) {
            <li>
              {{quiz.question}}
              <span class="lispan current__test"><span>✓</span></span>
            </li>
          }
        </ol>
      </div>

      <div id="goodBoy" class="container-fluid">
        <div class="jumbotron">
          <h3 class="p-fixed">Quiz #{{index+1}}</h3>
          <br />
          <p class="p-fixed">{{quiz.question}}</p>
          <br />
        </div>

        <div class="card border-info mb-4">
          <div
            class="d-flex justify-content-between align-items-center card-header bg-info text-white"
            id="h1"
          ></div>
          <div>
            <div id="q1" class="collapse show" aria-labelledby="h1">
              <div class="card-body">
                <div class="form-check" (click)="addClass(); select('A')">
                  <div class="{{ selected }}">
                    <span>A</span>
                    {{quiz.optionsA}}
                  </div>
                </div>

                <div class="form-check" (click)="addClass2(); select('B')">
                  <div class="{{ selected2 }}">
                    <span>B</span>
                    {{quiz.optionsB}}
                  </div>
                </div>

                <div class="form-check" (click)="addClass3(); select('C')">
                  <div class="{{ selected3 }}" for="q1_r3">
                    <span>C</span>
                    {{quiz.optionsC}}
                  </div>
                </div>

                <div class="form-check" (click)="addClass4(); select('D')">
                  <div class="{{ selected4 }}" for="q1_r4">
                    <span>D</span>
                    {{quiz.optionsD}}
                  </div>
                </div>

                <div class="form-check d-none" (click)="addClass5()">
                  <div class="{{ selected5 }}" for="q1_r4">
                    <span>E</span>
                    Status
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="buttonCheck">
          <button (click)="preveus()" type="button" class="btn1  cursor"><b>Previous</b></button>
          <button id="multi-button" (click)="checkAnswear();next(); " type="button" class={{check}} #checkAnswer (click)="answer()"><b>Next</b></button>
        </div>
      </div>
    </div>
  </section>
</main>
